<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
        name="google-signin-client_id"
        content="675553067229-ie7vsj3ktb2itolr7ccgc6mpqqtnb91t.apps.googleusercontent.com"
    />
    <title>Document</title>
</head>
<body>
    <a href="/owner/login/facebook">Log In with Facebook</a>
    <a href="/owner/google_signin">Log In with Google</a>
    
</body>
</html>